body {
  height: 85svh;
}

#admin-main-container {
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;
  max-height: 100%;
}

#input-website-form {
  flex: 1;
}

#input-website-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
}

#input-website-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

#kwic-list {
  flex: 3;
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 0.25rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
}

.kwic-entry {
  background-color: #171717;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.kwic-entry strong {
  color: var(--green-color);
}
