@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --green-color: #a3e635;
  --white-color: #f2f2f2;
  --container-color: #242424;
}

html {
  font-family: "IBM Plex Mono", monospace;
}

body {
  padding: 1rem 4rem;
  background-color: #171717;
  color: #f2f2f2;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #2d2d2d;
  color: #f2f2f2;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #434343;
  cursor: pointer;
}

button:disabled {
  background-color: #171717;
  cursor: default;
}

textarea {
  background-color: #171717;
  color: #f2f2f2;
  border-radius: 0.25rem;
}

h3 {
  margin-top: 0;
}

.container {
  background-color: #242424;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

/*Cyberminer specific*/
.active-page {
  color: var(--green-color);
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: column;
}

/* Search Section */
#search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#search-section h1 {
  font-style: italic;
}

#search-section input[name="keywords"] {
  min-width: 24rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #2d2d2d;
  color: var(--white-color);
  font-family: "IBM Plex Mono", monospace;
  border: none;
}

#search-section-main-input {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  width: 100%;
}

#search-keyword-modes {
  margin-top: 0.2rem;
  display: flex;
  gap: 1rem;
}

#search-keyword-modes span {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

#search-sort-modes {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.spacer {
  flex: 1;
}

#search-keyword-input {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Results */
#result-section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 80%;
}

.result-container {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 1rem;
}

.result-container:hover {
  background-color: var(--container-color);
  cursor: pointer;
}

.result-info {
  flex: 2;
}

.result-info h6 {
  margin-top: 0;
  margin-bottom: 0.1rem;
  color: var(--green-color);
}

.result-info p {
  font-family: "IBM Plex Sans", sans-serif;
}

.result-details {
  flex: 1;
  text-align: right;
  color: var(--green-color);
  font-weight: bold;
}

.result-details span {
  color: var(--white-color);
}

/* search navigation */
#search-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#item-per-page-navigation {
  font-size: smaller;
}
