@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

html {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  padding: 0 2rem;
  background-color: #171717;
  color: #f2f2f2;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #2d2d2d;
  color: #f2f2f2;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #434343;
  cursor: pointer;
}

textarea {
  background-color: #171717;
  color: #f2f2f2;
  border-radius: 0.25rem;
}

h3 {
  margin-top: 0;
}

.container {
  background-color: #242424;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
