<!DOCTYPE html>
<head>
  <title>Cyberminer</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='main.css') }}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='admin-dashboard.css') }}"
  />
</head>
<body>
  <nav>
    <a href="/">cyberminer</a>
    <a href="/admin" class="active-page">admin dashboard</a>
  </nav>
  <div id="admin-main-container">
    <div id="input-website-form">
      <form method="post" action="/add-new-website">
        <label>
          url
          <input type="text" name="url" />
        </label>
        <label>
          description
          <input type="text" name="desc" />
        </label>
        <label>
          sponsor money ($)
          <input type="number" name="sponsorMoney" />
        </label>
        <button type="submit">add website</button>
      </form>
      {% if added_website %} {% if removed %}
      <p>Successfully removed website: {{ added_website.url }}</p>
      {% else %}
      <p>Successfully added new website: {{ added_website.url }}</p>
      {% endif %} {% endif %}
    </div>
    <div id="kwic-list">
      <div>
        <a href="/admin"><button>KWIC Index Entries</button></a>
        <a><button disabled>Website List</button></a>
      </div>
      {% for entry in websites %}

      <div class="kwic-entry">
        {% set website = entry[0] %}
        <p>{{ website.desc }}</p>
        <strong>{{ website.url }}</strong>
        <form method="post" action="/admin/delete">
          <input type="hidden" name="website-id" value="{{ website.id }}" />
          <button type="submit">delete</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
