<!DOCTYPE html>
<head>
  <title>Cyberminer</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='main.css') }}"
  />
</head>
<body>
  <nav>
    <a href="/" class="active-page">cyberminer</a>
    <a href="/admin">admin dashboard</a>
  </nav>
  <div>
    <form method="post" action="/search/1">
      <div id="search-section">
        <h1>Cyberminer</h1>
        <div id="search-section-main-input">
          <div class="spacer"></div>
          <div id="search-keyword-input">
            <div id="search-keyword-input-main">
              <input
                type="text"
                name="keywords"
                placeholder="enter keywords..."
                value="{{ search_text }}"
              />
              <button type="submit">search</button>
            </div>
            <div id="search-keyword-modes">
              <span>
                <input type="radio" id="or-option" name="keyword-mode" value="OR" {%if
                keyword_mode == "OR" %} checked {% endif %}/>
                <label for="or-option">OR</label>
              </span>
              <span>
                <input type="radio" id="and-option" name="keyword-mode" value="AND"
                {%if keyword_mode == "AND" %} checked {% endif %}/>
                <label for="and-option">AND</label>
              </span>
              <span>
                <input type="radio" id="not-option" name="keyword-mode" value="NOT"
                {%if keyword_mode == "NOT" %} checked {% endif %}/>
                <label for="not-option">NOT</label>
              </span>
              <span>
                <input type="checkbox" id="filter-special-chars" name="filter-special-chars"
                {%if filter_special_chars %} checked {% endif %}/>
                <label for="filter-special-chars">filter special chars</label>
              </span>
            </div>
          </div>
          <div id="search-sort-modes">
            <span>
              <input type="radio" id="sort-url" name="sort-mode" value="url" {%if
            sort_mode == "url" %} checked {% endif %}/>
              <label for="sort-url">asc. alphabetical</label>
            </span>
            <span>
              <input type="radio" id="sort-accesses" name="sort-mode" value="accesses"
              {% if sort_mode == "accesses" %} checked {% endif %} />
              <label for="sort-accesses">frequently accessed</label>
            </span>
            <span>
              <input type="radio" id="sort-sponsorMoney" name="sort-mode"
              value="sponsorMoney" {% if sort_mode == "sponsorMoney" %} checked {% endif %} />
              <label for="sort-sponsorMoney">per payment</label>
            </span>
          </div>
        </div>

        <div id="result-section">
          {% for result in results %}
          <div class="result-container" onclick="visitWebsite('{{ result[0].id }}')">
            <div class="result-info">
              <h6>{{ result[0].url }}</h6>
              <p>{{ result[0].desc }}</p>
            </div>
            <div class="result-details">
              <p>accessed <span>{{ result[0].accesses }}</span> times</p>
              <p>sponsor money: <span>${{ result[0].sponsorMoney }}</span></p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div id="search-navigation" {% if page_num == 0 %} style="visibility: hidden;" {% endif %}>
          <div id="page-buttons">
            <button
              type="submit"
              formaction="/search/{{ page_num - 1 if page_num - 1 > 1 else 1 }}"
              {% if page_num == 1 %}disabled{% endif %}
            >
              prev
            </button>
            <p>pg {{ page_num }}</p>
            <button
              type="submit"
              formaction="/search/{{ page_num + 1 if results|length > 0 else page_num }}"
              {% if results|length != items_per_page|int %}disabled{% endif %}
            >
              next
            </button>
          </div>
          <p id="item-per-page-navigation">
            show
            <select name="items-per-page" id="items-per-page">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
            per page
          </p>
        </div>
        
      </div>
      
    </form>
  </div>
  <script>
    document.getElementById("items-per-page").value = "{{ items_per_page }}";

    

    function visitWebsite(websiteId) {
      console.log("visit");
      const data = {
        websiteId: websiteId,
      };

      fetch("/visit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          window.open(data.url, "_blank");
        });
    }
  </script>
</body>
